@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-color: #F2F2F2;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
}

.page-container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: block;
  padding: 8px 50px;
  background-color: #756157;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #615048;
}

.button:active span {
  opacity: 30%;
}

.button.blue {
  background-color: #82B3D3;
}

.button.blue:hover, .button.blue:focus {
  background-color: #68A2CA;
}

.button.active {
  background-color: #7DB54F;
}

.button.active:hover, .button.active:focus {
  background-color: #6C9E42;
}

.button.hidden {
  display: none;
}

.button.small {
  min-width: 160px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
}

.button.reset {
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}

.button.reset:hover {
  opacity: 60%;
}

.button.reset:focus {
  border-radius: 4px;
  border: 3px solid #83B3D3;
}

.button.card-buttton {
  min-width: 140px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
}

.button:active[value] {
  color: rgba(255, 255, 255, 0.3)
}

.button[disabled] {
  background-color: #E5E5E5;
}

.button.reset[disabled] {
  background-color: transparent;
  opacity: 10%;
}

.page-header {
  padding-left: 70px;
  padding-right: 70px;
  background-color: #FFFFFF;
  z-index: 1;
}

.logo-container {
  height: 64px;
}

.header-logo-link {
  margin-right: 30px;
  display: block;
}

.header-logo {
  display: block;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 607px;
  margin-right: auto;
  list-style: none;
}

.main-navigation-link {
  display: block;
  position: relative;
  padding: 20px 16px;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.main-navigation-link:hover {
  color: #756157;
}

.current-link::after {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 268px;
  list-style: none;
}

.navigation-user-link {
  position: relative;
  min-width: 44px;
  min-height: 64px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-user-icon {
  fill: #000000;
}

.navigation-user-link:hover .navigation-user-icon, .navigation-user-link:focus .navigation-user-icon{
  fill: #756257;;
}

.favourites-number {
  display: inline-block;
  position: absolute;
  top: 11px;
  right: 4px;
  padding: 5px 5px 5px 4px;
  min-width: 20px;
  min-height: 20px;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  background: #7DB54F;
  border-radius: 50px;
}

.navigation-user-item.want-button {
  margin-top: 14px;
  margin-left: auto;
}

.page-main {
  flex-grow: 1;
  background-color: #FFFFFF;
  text-align: center;
}

.bold {
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  height: 485px;
  background: url(../images/hero-background-bottom.svg) bottom center no-repeat,
              url(../images/hero-background.jpg) top center no-repeat,
              #756157;
}

.offer {
  min-height: 260px;
  margin-bottom: 21px;
  padding: 70px 270px;
}

.offer p {
  margin: 0;
}

.offer .bold {
  margin-bottom: 25px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 103px 85px;
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  height: 385px;
}

.advantages-wrapper img {
  object-fit: cover;
}

.advantages-list-item.big {
  display: flex;
}

.advantages-list li:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:first-child, .advantages-list li:last-child {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-list li:first-child .title, .advantages-list li:last-child .title {
  color: #FFFFFF;
}

.advantages-list li:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.20);
}

.title {
  margin: 0;
  width: 175px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.title::after {
  margin: 30px auto;
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-list li:first-child .title::after, .advantages-list li:last-child .title::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-list-item p {
  margin: 0;
}

.advantages-text {
  min-height: 246px;
  padding: 64px 340px;
}

.advantages-text .bold {
  margin-bottom: 20px;
}

.advantages-text p {
  margin: 0;
}

.advantages-icons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 21px;
}

.advantages-icons-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 183px 85px 81px;
}

.advantages-icons-title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 175px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-icons-item p {
  margin: 0;
}

.advantages-icons li:first-child {
  background: url(../images/house-icon.svg) 50% 80px no-repeat;
}

.advantages-icons li:nth-child(2) {
  background: url(../images/food-icon.svg) 50% 80px no-repeat;
}

.advantages-icons li:last-child {
  background: url(../images/gift-icon.svg) 50% 80px no-repeat;
}

.advantages-icons li:nth-child(2n+1) {
  background-color: #83B3D31F;
}

.hotel-search {
  min-height: 406px;
  padding: 96px 304px;
}

.hotel-search .bold {
  margin-bottom: 20px;
}

.hotel-search p {
  margin: 0;
  margin-bottom: 54px;
}

.hotel-search .button {
  width: 376px;
  margin: auto;
}

.subscribe {
  min-height: 415px;
  padding: 96px 258px 104px;
  color: #FFFFFF;
  background: #756157 url(../images/subscribe-background.jpg) top left no-repeat;
}

.subscribe .bold {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscribe p {
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 452px auto;
}

.subscribe-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.email-input::placeholder,
.catalog-email-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  opacity: 60%;
}

.email-input {
  padding: 12px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.catalog-email-input {
  padding: 12px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #F2F2F2;
}

.page-footer {
  min-height: 120px;
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.socials-list-link {
  min-width: 47px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  fill: #83B3D3;
}

.social-icon:hover, .social-icon:focus {
  fill: #68A2CA;
}

.social-icon:active, .social-icon:active {
  opacity: 30%;
}

a[href^="tel:"] {
  color: #000000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

a[href^="tel:"]:hover {
  color: #756157;
}

a[href^="tel:"]:active {
  opacity: 30%;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo-icon {
  fill: #000000;
}

.footer-logo-icon:hover {
  fill: #756157;
}

.footer-logo-icon:active {
  opacity: 30%;;
}

/*Каталог*/

.catalog-main {
  background-color: #FFFFFF;
}

.catalog-header {
  padding: 35px 70px 70px;
  background: url(../images/filters-background.jpg) top left no-repeat;
  color: #FFFFFF;
}

.catalog-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item a {
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-link.home::before {
  content: url(../images/breadcrumbs-icon.svg);
  width: 12px;
  height: 12px;
}

.breadcrumbs-item:not(:first-child)::before {
  content: url(../images/breadcrumbs-arrow.svg);
  margin-right: 10px;
  margin-left: 10px;
}

.catalog-filters {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  min-width: 150px;
  border: none;
}

.catalog-filter-title {
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter {
  position: relative;
  padding-left: 36px;
  display: block;
}

.filter:hover, .filter:active {
  opacity: 30%;
}

.filter-input {
  appearance: none;
}

.filter-input[type="checkbox"] {
  position: absolute;
  margin: 0;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

.filter-input[type="checkbox"]:checked {
  background: #FFFFFF url(../images/checkbox.svg) center no-repeat;
}

.filter-input[type="radio"] {
  position: absolute;
  margin: 0;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

.filter-input[type="radio"]:checked::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  content: "";
  position: absolute;
}

.catalog-filter-price {
  margin: 0;
  margin-right: 70px;
  margin-left: auto;
  padding: 0;
  width: 288px;
  border: none;
}

.price-inputs {
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.price-input {
  padding: 12px 37px 12px 20px;
  width: 143px;
  appearance: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
}

.price-input-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-input-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-input {
  -moz-appearance: textfield;
}

.price-input:hover {
  background-color: #E6E6E6;
}

.price-input-label {
  position: relative;
}

.price-input-label span{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  line-height: 24px;
  opacity: 30%;
  color: #000000;
}

.rage-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: #8F8585;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0px;
}

.catalog-filter-buttons {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  width: 191px;
  gap: 32px;
}

.catalog {
  padding: 50px 70px 60px 70px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.sorting p.bold {
  min-width: 136px;
  align-self: center;
}

.card-switch {
  width: 522px;
  display: flex;
}

.select-filter {
  display: block;
  margin-right: 72px;
  padding: 0 18px;
  width: 290px;
  height: 49px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #FFFFFF url(../images/arrow.svg) center right 16px no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
}

.select-filter:hover, .select-filter:focus {
  border: 2px solid #68A2CA;
}

.select-filter[disabled] {
  opacity: 30%;
}

.switch-button-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.switch-button-item {
  margin-right: 8px;
}

.switch-button-list li:last-child {
  margin-right: 0;
}

.switch-button-list li:first-child button {
  background: #FFFFFF url(../images/button-tiles.svg) center center no-repeat;
}

.switch-button-list li:nth-child(2) button {
  background: #FFFFFF url(../images/button-table.svg) center center no-repeat;
}

.switch-button-list li:last-child button {
  margin-right: 0;
  background: #FFFFFF url(../images/button-list.svg) center center no-repeat;
}

.switch-button {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.switch-button.active {
  border: 2px solid #000000;
}

.switch-button:hover {
  border: 2px solid #000000;
}

.switch-button:focus {
  border: 2px solid #68A2CA;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.card-img {
  grid-column: 1/-1;
  display: block;
  object-fit: cover;
}

.card-title-link {
  grid-column: 1/-1;
  text-decoration: none;
  color: #000000;
}

.card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.card-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.card-price.right {
  text-align: right;
}

span.star::before {
  content: url(../images/star.svg);
  margin-top: 4px;
  display: inline-block;
}

.rating {
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  margin-top: 80px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.pagination-link {
  display: block;
  margin-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link.active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link:hover, .pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link.dots {
  font-weight: 400;
  color: #000000;
  background-color: transparent;
}

.catalog-subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}

.catalog-subscribe .bold {
  margin-bottom: 20px;
}

.catalog-subscribe p {
  margin: 0;
  margin-bottom: 54px;
}

/*Модальное окно*/

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
}

.modal-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  width: 717px;
  border-radius: 30px;
  background-color: #FFF;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}

.modal-title {
  margin-bottom: 64px;
}

.close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 53px;
  height: 53px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-button::before,
.close-button::after {
  position: absolute;
  content: "";
  top: 50%;
  bottom: 50%;
  width: 20px;
  height: 2px;
  background-color: #000000;
}

.close-button:hover {
  background-color: #E6E6E6;
}

.close-button:active.close-button::before,
.close-button:active.close-button::after {
  background-color: #A1A1A1;
}

.close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hotel-search-form {
  display: flex;
  flex-direction: column;
}

.modal-input-label {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.modal-input-label-text {
  width: 135px;
}

.modal-input-date {
  margin-left: auto;
  margin-bottom: 4px;
  width: 440px;
  padding: 12px 36px 12px 20px;
  background: #F2F2F2 url(../images/modal-date.svg) center right 20px no-repeat;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.msg {
  margin: 0;
  margin-bottom: 23px;
  padding-left: 157px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.msg.error {
  color: #FF5757;
}

.hidden-msg {
  display: none;
}

.modal-counter-container {
  margin-bottom: 48px;
  display: flex;
}

.modal-counter {
  display: flex;
}

.adult-number {
  margin-right: 87px;
}

.children-number {
  margin-left: auto;
}

.counter-input {
  width: 31px;
  background-color: #F2F2F2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  border: none;
}

.counter-input::-webkit-outer-spin-button,
.counter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.counter-input {
  -moz-appearance: textfield;
}

.counter-button {
  padding: 17px 10px;
  width: 40px;
  background-color: #F2F2F2;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-icon {
  fill: #000000;
  opacity: 30%;
}

.counter-button:hover .button-icon {
  opacity: 100%;
}

.tooltip {
  position: absolute;
  right: 46px;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83B3D3;
  font-family: inherit;
  font-size: 17px;
  color: #FFFFFF;
  position: relative;
}

.tooltip-text {
  display: none;
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
  width: 256px;
  height: 143px;
  padding: 18px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: none;
  font-weight: 400;
  background-color: #333333;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333333;
  z-index: 1;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.modal .button {
  padding: 18px 77px;
  line-height: 24px;
  border-radius: 10px;
}
