html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-color: #F2F2F2;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
}

.page-container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.button {
  background-color: #756157;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.button.blue {
  background-color: #82B3D3;
}

.button.active {
  background-color: #7DB54F;
}

.button.hidden {
  display: none;
}

.button.small {
  font-size: 16px;
  line-height: 20px;
}

.button.reset {
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}

.page-header {
  padding-left: 70px;
  padding-right: 70px;
  background-color: #FFFFFF;
}

.header-logo {
  margin-right: 30px;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.main-navigation {
  width: 465px;
  margin-right: auto;
  list-style: none;
}

.main-navigation-link {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.navigation-user {
  width: 268px;
  list-style: none;
}

.favourites-number {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  background: #7DB54F;
}

.page-main {
  flex-grow: 1;
  background-color: #FFFFFF;
  text-align: center;
}

.bold {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hero {
  height: 485px;
  background: url(../images/hero-background-bottom.svg) bottom left no-repeat,
              url(../images/hero-background.jpg) top left no-repeat,
              #756157;
}

.offer {
  min-height: 260px;
  margin-bottom: 21px;
  padding: 70px 270px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list-item {
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  height: 385px;
}

.advantages-list li:nth-child(2n+1) {
  background-color: #83B3D31F;
}

.advantages-list li:first-child, .advantages-list li:last-child {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-list li:first-child .title, .advantages-list li:last-child .title {
  color: #FFFFFF;
}

.advantages-list li:nth-child(4) {
  background-color: #83B3D333;
}

.advantages-text {
  min-height: 246px;
  padding: 64px 340px;
}

.advantages-icons-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-icons-item {
  width: 400px;
}

.advantages-icons li:nth-child(2n+1) {
  background-color: #83B3D31F;
}

.home {
  background: url(../images/house-icon.svg) top center no-repeat;
}

.food {
  background: url(../images/food-icon.svg) top center no-repeat;
}

.gifts {
  background: url(../images/gift-icon.svg) top center no-repeat;
}

.hotel-search {
  min-height: 406px;
  padding: 96px 304px;
}

.subscribe {
  min-height: 415px;
  padding: 96px 258px 104px;
  color: #FFFFFF;
  background: #756157 url(../images/subscribe-background.jpg) top left no-repeat;
}

.subscribe .bold {
  color: #FFFFFF;
}

.page-footer {
  min-height: 120px;
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.phone {
  color: #000000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.catalog-main {
  background-color: #FFFFFF;
}

.catalog-header {
  padding: 35px 70px 70px;
  background: url(../images/filters-background.jpg) top left no-repeat;
  color: #FFFFFF;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filters {
  display: flex;
}

.catalog-filter-group {
  width: 155px;
  margin-right: 70px;
}

.catalog-filter-price {
  margin-left: 140px;
  margin-right: 70px;
  width: 288px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog {
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting p.bold {
  min-width: 136px;
}

.card-switch {
  width: 522px;
}

.select-filter {
  margin-right: 70px;
  font-size: 18px;
  line-height: 21px;
}

.card-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.title-link {
  text-decoration: none;
}

.card-inner p {
  font-size: 18px;
  line-height: 21px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  list-style: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-link.active {
  color: #000000;
  background-color: #F2F2F2;
}

.catalog-subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}
